* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

section {
    display: inline-flex;
    width: 100%;
    min-width: 1000px;
}

body {
    background-color: var(--mainColorLight);
}

header {
    width: 100%;
    height: 70px;
    background-color: var(--accentColor);
    display: flex;
    position: fixed;
    box-shadow: 0 -10px 30px 10px #1f1f1f;
}

nav,
footer div{
    display: inline-flex;
    align-self: center;
    margin-left: 10%;
    align-items: center;
}

nav div {
    height: 18px;
    width: 2px;
    background-color: var(--mainColorLight);
    margin: 0 7px 0 7px;
}

nav a{
    color: var(--mainColorLight);
    font-size: 18px;
}

nav a:hover{
    color: var(--additionalColor);
}

footer {
    padding:0 5px 0 7px;
    height: 30px;
    width: 100%;
    background-color: var(--additionalColor);
    display: flex;
    bottom: 0;
}

a {
    text-decoration: none;
    transition: color, 500ms;
}

@media only screen and (max-device-width: 1000px) and (min-width: 0px) {

    section {
        display: flex;
        flex-direction: column;
        min-width: 0;
    }

}