section {
    display: inline-flex;
    width: 100%;
    padding-top: 70px;
    min-height: 100vh;
    height: 400px;
}

.shortAbout {
    width: 45%;
    margin-left: 5%;
    background-color: var(--mainColorDark);
    align-self: center;
    padding: 250px 20px 250px 20px;
    display: inline-flex;
    min-width: 400px;
    height: 100%;
}
.photoPlace {
    width: 40%;
    margin-right: 10%;
    background-color: var(--mainColorLight);
    align-self: center;
    min-width: 400px;
    background-image: url("/images/image.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */
    margin-left: 50px;
    height: 100%
}

.shortAbout .decoration {
    width: 8px;
    background-color: var(--mainColorLight);
    height: 400px;
    align-self: center;
    border-radius: 15px;
}

.shortAbout .text {
    align-self: center;
    padding-left: 20px;
}

.shortAbout .text h1{
    font-size: 70px;
    color: var(--accentColor);
    padding-bottom: 8px;
    text-shadow: #2e3348 2px 2px 3px;
}

.shortAbout .text h2{
    color: var(--mainColorLight);
}

.shortAbout .text h3{
    color: var(--mainColorLight);
    padding-bottom: 24px;
}

.shortAbout .text p{
    color: var(--mainColorLight);
}

.shortAbout .text p a{
    color: var(--additionalColor);
    text-decoration: none;
}

.shortAbout .text p a:hover{
    text-shadow: #2a2a2a 0 2px;
}

@media screen and (max-width: 600px) and (min-width: 0px) {
    section {
        display: block;
    }

    .shortAbout {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .photoPlace{
        width: 0;
        height: 0;
    }

}